<label>Insira o nome do servidor</label>
<input 
type="text"
class="form-control"
(input)="onUpdateServerName($event)">
<!-- <input 
type="text"
class="form-control"
[(ngModel)]="serverName"> -->
<button class="btn btn-primary" 
[disabled]="!allowNewServer" 
(click)="onCreateServer()">ADICIONAR</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{serverCreationStatus}}</p> -->
<p *ngIf="serverCreated;else noServer">Servidor adicionado. Seu servidor '{{serverName}}' está pronto para ser utilizado.</p>
<ng-template #noServer><p>Nenhum novo servidor foi cadastrado recentemente.</p></ng-template>
<app-server *ngFor="let serversC of servers"></app-server>

